{% extends 'base.html' %}
{% load static%}

{% block content %}
    <br><br>
    <div id="first_title">
        <h1>When I was Young</h1>
        <br>
    </div>
    <div id="img">
        <img src="{%static 'images/first.jpg'%}" width="500">
        <br><br><br><br>
        <img src="{%static 'images/second.jpg'%}" width="500">
        <br><br><br><br>
        <img src="{%static 'images/third.jpg'%}" width="500">
        <br><br><br><br>
        <img src="{%static 'images/fourth.jpg'%}" width="500">
        <br><br><br><br>
        <img src="{%static 'images/fifth.jpg'%}" width="500">
        <br>
    </div>
    
{% endblock %}