*{ 
    margin: 0 auto;
}
body {
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

header {
    text-align:center;
    font-family: 'Song Myung', serif;
    font-style:bold;
    font-size:30px;
    text-shadow: 2px 2px 2px gray;
    color:linen;
}
.table1{
    border: 2px solid; border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Jua', sans-serif;
    border-color:black;
    color:white;
    }
.table2{
    border: 2px solid; border-collapse:collapse;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Jua', sans-serif;
    border-color:black;
    font-weight:40px;
    height:500px;
    width:80%;
    table-layout:fixed;
}
.table2 td{
    border: 1px solid;
    padding:50px;
    border-color:black;
}
.table1 td{
    border: 1px solid ; 
    padding: 50px;
    border-color:black;
}

a:link{
    color:rgb(114, 13, 0);
    text-decoration:none;
    text-shadow: 0 0 24px;
}
a:visited{
    color:sandybrown;
}
a:hover{
   color:white;
}
img{
    display:block;
    margin:auto;
}

ol,ul{
    display:table;
    margin:auto;
    list-style:dot;
}
li{
    line-height:200%;
}
ol>li{
    list-style:none;
}
ul>li{
    list-style:dot;
}
.cimg1{
    max-width:100%;
}
#sns{
    text-align:center;
}
p{
    text-align:center;
    font-size:50px;
    font-style:bold;
}
